kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      retention: 7d
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
  grafana:
    enabled: true
    adminPassword: admin
    serviceAccount:
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::432801802107:role/eks-lab-argocd-grafana-cloudwatch"
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        aws-eks-dashboard:
          file: dashboards/aws-eks-dashboard.json
    additionalDataSources:
      - name: Loki
        type: loki
        url: http://loki-gateway.loki.svc.cluster.local
        access: proxy
        isDefault: false
      - name: CloudWatch
        type: cloudwatch
        access: proxy
        jsonData:
          defaultRegion: us-east-1
          authType: default
        isDefault: false
      - name: CloudWatch Logs
        type: cloudwatch
        access: proxy
        jsonData:
          defaultRegion: us-east-1
          authType: default
          logGroups:
            - name: "/aws/eks/eks-lab-argocd/cluster"
            - name: "/aws/vpc/flowlogs/eks-lab-argocd"
        isDefault: false