apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-scale
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: test-scale
  template:
    metadata:
      labels:
        app: test-scale
    spec:
      containers:
      - name: stress
        image: polinux/stress
        command: ["stress"]
        args: ["--cpu", "1", "--vm", "1", "--vm-bytes", "50M"]
        resources:
          requests:
            cpu: 200m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: test-scale
  namespace: default
spec:
  scaleTargetRef:
    name: test-scale
  minReplicaCount: 1
  maxReplicaCount: 20
  triggers:
  - type: cpu
    metricType: Utilization
    metadata:
      value: "50"
  - type: memory
    metricType: Utilization
    metadata:
      value: "50"
