repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.1
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_checkov
        args:
          - --args=--soft-fail
      - id: terraform_tflint
        args:
          - --args=--minimum-failure-severity=error

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^apps/.*/templates/.*\.yaml$  # Exclude Helm templates
      - id: check-added-large-files
