apiVersion: v1
kind: ConfigMap
metadata:
  name: event-exporter-config
  namespace: monitoring
data:
  config.yaml: |
    logLevel: info
    logFormat: json
    route:
      routes:
        - match:
            - receiver: loki
    receivers:
      - name: loki
        loki:
          url: {{ .Values.lokiUrl }}
          streamLabels:
            app: event-exporter
            cluster: eks-gitops-lab
          labels:
            namespace: "{{ .Namespace }}"
            reason: "{{ .Reason }}"
            type: "{{ .Type }}"
            kind: "{{ .InvolvedObject.Kind }}"
            name: "{{ .InvolvedObject.Name }}"
